# Ignore directories
ansible/
docker/
dev/
nginx/
terraform/

node_modules/

# Ignore specific files
db.sqlite3
error.log

# Ignore Python cache directories
**/__pycache__

# Ignore all .log files
*.log

*.git

.env
.env.example
.gitignore
